<%- include('parts/header'); %>
	<p>Змініть орієнтацію на книжну</p>
	<section class="login">
		<a href="/" class="logo"><img src="img/logo-g.png" alt=""></a>
		<form action="">
			<div><input type="tel" placeholder="Телефон" name="phone" required></div>
			<div><input type="password" placeholder="Пароль" name="password" required></div>
			<div><input type="submit" value="Увійти" class="login-btn"></div>
		</form>
		<a href="/reg" class="link">Ще немаєте акаунту?</a>
		<div class="login-with">
			<p>Увійти через соціальні мережі</p>
			<a href="#"><img src="img/fb.png" alt=""></a>
			<a href="#"><img src="img/gp.png" alt=""></a>
		</div>
	</section>
<%- include('parts/footer'); %>