body {
  margin: 0;
  padding: 0;
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 16px;
  position: relative;
  background-color: #f5f5f5;
}

body > p {
  display: none;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slick-slider * {
  outline: none;
}

.hnc, .login form input[type="text"], .login form input[type="password"], .login form input[type="tel"], .login form input[type="email"], .login form input[type="submit"] {
  font-family: HelveticaNeueCyr, sans-serif;
}

.login {
  padding: 1em 0 110px 0;
  font-size: 16px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login a.logo {
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 0 1em;
  line-height: 0;
  margin-bottom: 2em;
}

.login a.logo img {
  width: 100%;
}

.login a.link {
  color: #00b484;
  text-decoration: none;
  margin-top: 1em;
}

.login form {
  width: 100%;
  max-width: 400px;
}

.login form > div {
  width: 100%;
  padding: 0 1em;
}

.login form input {
  border: none;
}

.login form input[type="text"], .login form input[type="password"], .login form input[type="tel"], .login form input[type="email"] {
  margin-bottom: 1em;
  padding: 0 0.5em;
  width: 100%;
  height: 2em;
  color: #000;
  font-size: 1em;
  background-color: transparent;
  border-bottom: 1px solid #006b46;
  outline: none;
}

.login form input[type="text"]::-webkit-input-placeholder, .login form input[type="password"]::-webkit-input-placeholder, .login form input[type="tel"]::-webkit-input-placeholder, .login form input[type="email"]::-webkit-input-placeholder {
  color: #797979;
}

.login form input[type="text"]::-moz-placeholder, .login form input[type="password"]::-moz-placeholder, .login form input[type="tel"]::-moz-placeholder, .login form input[type="email"]::-moz-placeholder {
  color: #797979;
}

.login form input[type="text"]:-ms-input-placeholder, .login form input[type="password"]:-ms-input-placeholder, .login form input[type="tel"]:-ms-input-placeholder, .login form input[type="email"]:-ms-input-placeholder {
  color: #797979;
}

.login form input[type="text"]::-ms-input-placeholder, .login form input[type="password"]::-ms-input-placeholder, .login form input[type="tel"]::-ms-input-placeholder, .login form input[type="email"]::-ms-input-placeholder {
  color: #797979;
}

.login form input[type="text"]::placeholder, .login form input[type="password"]::placeholder, .login form input[type="tel"]::placeholder, .login form input[type="email"]::placeholder {
  color: #797979;
}

.login form input[type="submit"] {
  display: block;
  margin: 1em auto 0 auto;
  width: 7em;
  height: 2em;
  color: #fff;
  font-size: 1.3em;
  -webkit-border-radius: 2em;
          border-radius: 2em;
  background-color: #00b484;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.28);
}

.login form input[type="submit"]:hover {
  background-color: #009b71;
}

.login .login-with {
  position: absolute;
  bottom: 0.2em;
  text-align: center;
}

.login .login-with p {
  font-size: 0.9em;
  color: #797979;
}

.login .login-with a {
  display: inline-block;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.login .login-with a img {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 3em;
  height: 3em;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.login .login-with a:hover img {
  opacity: 0.9;
}

.user {
  font-size: 16px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-tab {
  position: relative;
  margin-bottom: -1px;
  background-color: #00b484;
  height: 3em;
  padding: 0 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-tab > img {
  height: 2em;
  margin-right: 1em;
}

.user-tab span {
  color: #fff;
  font-size: 1.2em;
}

.user-tab a {
  position: absolute;
  right: 15px;
}

.slider .slick-list, .slider .slick-track {
  height: 100%;
}

.slider #map {
  height: 100%;
  width: 100%;
}

.slider .map {
  position: relative;
}

.slider .map .btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0.8em;
  left: 0;
  right: 0;
}

.slider .map .add-leaf {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2em;
  width: 200px;
  height: 40px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  color: #fff;
  background-color: #00b484;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.5);
}

.slider .map .add-leaf:hover {
  background-color: #009b71;
}

.slider .map .add-small {
  margin-left: 0.3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 40px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.slider .map .add-small img {
  height: 55%;
}

.slider .map .add-small.search {
  background-color: #006b46;
}

.slider .map .add-small.search:hover {
  background: #005235;
}

.slider .map .add-small.fire {
  background-color: #ea431c;
}

.slider .map .add-small.fire:hover {
  background-color: #d83914;
}

.slider-nav {
  padding: 0 15px;
  background-color: #00b484;
  z-index: 1;
  -webkit-box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.2);
}

.slider-nav .slick-track {
  -webkit-transform: translate(0) !important;
      -ms-transform: translate(0) !important;
          transform: translate(0) !important;
}

.slider-nav-item {
  cursor: pointer;
  padding: 0.65em 0;
  text-align: center;
  position: relative;
}

.slider-nav-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  height: 4px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.slider-nav-item.slick-current::after {
  width: 100%;
}

.slider-nav-item.slick-current .active {
  display: inline;
}

.slider-nav-item.slick-current .passive {
  display: none;
}

.slider-nav-item img {
  height: 1.7em;
  display: inline;
  vertical-align: middle;
}

.slider-nav-item .active {
  display: none;
}

.profile {
  position: relative;
}

.profile-info {
  margin-top: 1em;
  padding-left: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-photo {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8em;
      -ms-flex: 0 0 8em;
          flex: 0 0 8em;
  height: 8em;
  overflow: hidden;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.profile-photo img {
  max-width: 100%;
  max-height: 100%;
}

.profile-contacts {
  margin-left: 0.5em;
}

.profile-role {
  color: #00b484;
  font-size: 1.3em;
}

.profile-name {
  font-size: 1.9em;
}

.profile-address, .profile-next {
  margin-top: 0.8em;
  padding-left: 1em;
  position: relative;
}

.profile-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 1.15em;
  color: #797979;
}

.profile-title img {
  margin-right: 0.4em;
  height: 1.3em;
  display: inline-block;
}

.profile-value {
  padding-left: 1.5em;
  font-size: 1.4em;
}

.profile-value span {
  color: #00b484;
}

.profile-refresh {
  position: absolute;
  height: 1.656em;
  width: 2.281em;
  right: 1em;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.profile-refresh img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.profile-refresh:hover img {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.profile-score {
  position: absolute;
  left: 16px;
  bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.9em;
  color: #006b46;
}

.profile-score img {
  width: 1.6em;
  height: 1.6em;
  margin-right: 0.2em;
}

.profile-shop {
  cursor: pointer;
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 5em;
  height: 5em;
  background-color: #00b484;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.profile-shop img {
  width: 2.5em;
  height: 2.5em;
}

.profile-shop:hover {
  background-color: #009b71;
}

.profile .work {
  position: absolute;
  left: 50%;
  bottom: 1em;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2em;
  width: 13em;
  height: 40px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  color: #fff;
  background-color: #00b484;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.2);
}

.profile .work:hover {
  background-color: #009b71;
}

.noti ul {
  margin: 0;
  padding: 10px 8px;
  list-style: none;
  height: 100%;
  overflow-y: auto;
}

.noti ul li {
  margin-bottom: 1em;
  padding: 0.5em 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.2);
}

.noti-title {
  font-size: 1.1em;
  line-height: 1.3;
}

.noti-title.green {
  color: #006b46;
}

.noti-title.red {
  color: #ea431c;
}

.noti-image {
  padding-right: 0.7em;
}

.noti-image img {
  width: 1.2em;
}

.noti-text {
  color: #797979;
  font-size: 0.9em;
}

@media (max-width: 767px) and (orientation: landscape) {
  body {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #00b484;
  }
  body * {
    display: none !important;
  }
  body > p {
    display: block !important;
    font-size: 20px;
    color: #fff;
    text-align: center;
  }
}

.msg {
  text-align: center;
  margin-bottom: 5px;
  padding: 5px !important;
}

.msg.error {
  color: red;
  background-color: rgb(255, 0, 0, 0.1);
}

.msg.error ~ div input.error {
  border-bottom-color: red;
}