  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBG2I3uy1WnkiNMJMwkqbyrQ0aFYWd5jzs"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/slick.min.js"></script>
  <script src="js/jquery.mask.min.js"></script>
  <script src="js/scripts.js"></script>
</body>
</html>