<!DOCTYPE html>
<html lang="ua">
<head>
  <meta charset="utf-8">
	<title>LeafCity</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
  <meta name="theme-color" content="#00b484">
  <link rel="stylesheet" href="css/slick.css">
  <link rel="stylesheet" href="css/slick-theme.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>